<div class="conteudo">
    <div class="definicao">
        <div class="titulo">
            <h1>{{ titulo }}</h1>
        </div>
        <div class="paragrafo">
            <p>{{ paragrafo }}</p>
        </div>
    </div>
    <div class="retrato">

        

</div>

</div>
<div class="ong-bibliografia">
    <div class="assunto">
        <h1>Conheça respeitadas ONG'S</h1>
    </div>
    <div class="assunto">
        <h1>Bibliografia relacionada</h1>
    </div>
    <div class="conteudo-esquerda">
        <div class="secao-dividida">
            <h2>Nacionais</h2>
            <ul>
                <li><a href="https://osbrasil.org.br/" target="_blank" rel="noopener noreferrer">Observatório social do brasil (OSB)</a></li>
                <li><a href="https://www.sosma.org.br/" target="_blank" rel="noopener noreferrer">SOS Mata Atlântica</a></li>
            </ul>
        </div>
        <div class="secao-dividida">
            <h2>Internacionais</h2>
            <ul>
                <li><a href="https://www.greenpeace.org/global/" target="_blank" rel="noopener noreferrer">Greenpeace</a></li>
                <li><a href="https://www.globalwitness.org/en/about-us/" target="_blank" rel="noopener noreferrer">Global Witness</a></li>

            </ul>
        </div>
    </div>
    <div class="conteudo-direita">
        <div class="secao-dividida">
            <ul>
                <li><a href="https://www.scielo.br/j/ea/a/yJnRYLWXSwyxqggqDWy8gct/?lang=pt" target="_blank" rel="noopener noreferrer">Trajetória da sustentabilidade</a></li>
                <li><a href="https://docente.ifsc.edu.br/gianpaulo.medeiros/MaterialDidatico/ENG%20e%20Sustentabildade/texto%20sustentabilidade.pdf" target="_blank" rel="noopener noreferrer">Sustentabilidade por Dra. Lana Magalhães</a></li>
                <li><a href="https://www.amazon.com.br/Sustentabilidade-que-%C3%A9-n%C3%A3o/dp/8532642985" target="_blank" rel="noopener noreferrer">Sustentabilidade: O que é - O que não é</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="msc-vid-pal">
    <div  class="sub-titulo">
        <h1>Músicas</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/V2xfmNfG73c" title="Hagua - Seu Jorge" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="sub-titulo">
        <h1>Vídeos</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/OAQer2uPwAE" title="SUSTENTABILIDADE - GEOBRASIL {PROF  RODRIGO RODRIGUES}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/wKJ6-meH8ns" title="🔴 LIÇÃO DE ÉTICA E SUSTENTABILIDADE  com MARIO SERGIO CORTELLA!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div  class="sub-titulo">
        <h1>Palestras</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/tBr6GvbeJvo" title="O que é essa tal de sustentabilidade? | Saulo Chielle | TEDxUnilasalleCanoas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/_un2hGEpHK8" title="Economia e sustentabilidade: fatos, mitos e caos | Wilson Cabral | TEDxSãoSebastião" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<div class="exp-exitosas">
    
</div>