<div class="conteudo">
    <div class="definicao">
        <div class="titulo">
            <h1>{{ titulo }}</h1>
        </div>
        <div class="paragrafo">
            <p>{{ paragrafo }}</p>
        </div>
    </div>
    <div class="retrato">

        

</div>

</div>
<div class="ong-bibliografia">
    <div class="assunto">
        <h1>Conheça respeitadas ONG'S</h1>
    </div>
    <div class="assunto">
        <h1>Bibliografia relacionada</h1>
    </div>
    <div class="conteudo-esquerda">
        <div class="secao-dividida">
            <h2>Nacionais</h2>
            <ul>
                <li><a href="https://www.transparencia.org.br/" target="_blank" rel="noopener noreferrer">Transparência Brasil</a></li>
                <li><a href="https://www.amarribo.org.br/" target="_blank" rel="noopener noreferrer">Amarribo</a></li>
            </ul>
        </div>
        <div class="secao-dividida">
            <h2>Internacionais</h2>
            <ul>
                <li><a href="https://www.transparency.org/en/" target="_blank" rel="noopener noreferrer">Transparency Internacional</a></li>
                <li><a href="https://www.corruptionwatch.org.za/" target="_blank" rel="noopener noreferrer">Corruption Watch</a></li>
                <li><a href="https://www.iaca.int/" target="_blank" rel="noopener noreferrer">IACA</a></li>

            </ul>
        </div>
    </div>
    <div class="conteudo-direita">
        <div class="secao-dividida">
            <ul>
                <li><a href="https://www.amazon.com.br/Dinheiro-elei%C3%A7%C3%B5es-poder-engrenagens-brasileiro/dp/8535931252?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&sr=8-1&linkId=5ec61787419943f0ee617001a1ed3684&language=pt_BR&ref_=as_li_ss_tl" target="_blank" rel="noopener noreferrer">Dinheiro, eleições e poder</a></li>
                <li><a href="https://www.amazon.com.br/Corrup%C3%A7%C3%A3o-Governo-Causas-Consequ%C3%AAncias-Reforma/dp/6556520284?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&sr=8-1&ufe=app_do:amzn1.fos.6121c6c4-c969-43ae-92f7-cc248fc6181d&linkId=af51408a07908c30da579ce75fd25d89&language=pt_BR&ref_=as_li_ss_tl" target="_blank" rel="noopener noreferrer">Corrupção e Governo</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="msc-vid-pal">
    <div  class="sub-titulo">
        <h1>Músicas</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/-0kcet4aPpQ" title="Pink Floyd - Money (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="sub-titulo">
        <h1>Vídeos</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/8c3dMof0qTc" title="Leandro Karnal - corrupção" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/OmVca2R32wk" title="Entenda a corrupção no Brasil de um modo SIMPLES" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div  class="sub-titulo">
        <h1>Palestras</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/cmHRGsGixuQ" title="LEANDRO KARNAL- “Ética e corrupção no mundo contemporâneo: tem solução” (27/06/2017)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<div class="exp-exitosas">
    
</div>