<div class="conteudo">
    <div class="definicao">
        <div class="titulo">
            <h1>{{ titulo }}</h1>
        </div>
        <div class="paragrafo">
            <p>{{ paragrafo }}</p>
        </div>
    </div>
    <div class="retrato">

        

</div>

</div>
<div class="ong-bibliografia">
    <div class="assunto">
        <h1>Conheça respeitadas ONG'S</h1>
    </div>
    <div class="assunto">
        <h1>Bibliografia relacionada</h1>
    </div>
    <div class="conteudo-esquerda">
        <div class="secao-dividida">
            <h2>Nacionais</h2>
            <ul>
                <li><a href="https://www.contasabertas.org.br/" target="_blank" rel="noopener noreferrer">Contas Abertas</a></li>
                <li><a href="https://soudapaz.org/" target="_blank" rel="noopener noreferrer">Instituto Sou da Paz</a></li>
            </ul>
        </div>
        <div class="secao-dividida">
            <h2>Internacionais</h2>
            <ul>
                <li><a href="https://www.hrw.org/" target="_blank" rel="noopener noreferrer">Human Rights Watch (HRW)</a></li>
                <li><a href="https://www.amnesty.org/en/" target="_blank" rel="noopener noreferrer">Amnesty International</a></li>

            </ul>
        </div>
    </div>
    <div class="conteudo-direita">
        <div class="secao-dividida">
            <ul>
                <li><a href="https://www.amazon.com.br/Liberalismo-Ludwig-Von-Mises/dp/8562816159/ref=asc_df_8562816159/?hvadid=379751563849&hvpos=&hvnetw=g&hvrand=151647211799861128&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9100588&hvtargid=pla-1003067042832&psc=1&mcid=1df0db9250d030b088245c30b4a4c5e6" target="_blank" rel="noopener noreferrer">Liberalismo</a></li>
                <li><a href="https://www.amazon.com.br/Capital-Karl-Marx/dp/8563137271/ref=asc_df_8563137271/?hvadid=379708192683&hvpos=&hvnetw=g&hvrand=10766116050455497155&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9100588&hvtargid=pla-396354807571&psc=1&mcid=2401f969a36c33eab09841fc9ecc8460" target="_blank" rel="noopener noreferrer">O Capital</a></li>
                <li><a href="https://www.amazon.com.br/Liberalismo-Antigo-Moderno-Guilherme-Merquior/dp/8580331714" target="_blank" rel="noopener noreferrer">O Liberalismo: Antigo e Moderno</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="msc-vid-pal">
    <div  class="sub-titulo">
        <h1>Músicas</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/zUzd9KyIDrM" title="System Of A Down - B.Y.O.B. (Official HD Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="sub-titulo">
        <h1>Vídeos</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/2Zn-7-RxLdU" title="O QUE É UMA DEMOCRACIA? | DEFINIÇÕES E CLASSIFICAÇÕES | POLITIZE! EXPLICA 20" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/R2WZjqSfIUA" title="COMO É UM GOVERNO NEOLIBERAL? | SEGUE O FIO 56" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/6HK51ffoFhY" title="Socialismo e Comunismo: O que são e quais as diferenças - História Contada" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/5xekqWxzHbc" title="O que é Esquerda e Direita?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div  class="sub-titulo">
        <h1>Palestras</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/LR2SIWRMrtA" title="Why democracy is still the best form of government | Alex Tan | TEDxChristchurch" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/KLx0-D4ivz0" title="Liberalism, Democracy, and Freedom | Saira Shah Halim | TEDxDSCE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<div class="exp-exitosas">
    
</div>