<div class="conteudo">
    <div class="definicao">
        <div class="titulo">
            <h1>{{ titulo }}</h1>
        </div>
        <div class="paragrafo">
            <p>{{ paragrafo }}</p>
        </div>
    </div>
    <div class="retrato">

        

</div>

</div>
<div class="ong-bibliografia">
    <div class="assunto">
        <h1>Conheça respeitadas ONG'S</h1>
    </div>
    <div class="assunto">
        <h1>Bibliografia relacionada</h1>
    </div>
    <div class="conteudo-esquerda">
        <div class="secao-dividida">
            <h2>Nacionais</h2>
            <ul>
            </ul>
        </div>
        <div class="secao-dividida">
            <h2>Internacionais</h2>
            <ul>

            </ul>
        </div>
    </div>
    <div class="conteudo-direita">
        <div class="secao-dividida">
            <ul>
                <li><a href="http://www.educadores.diaadia.pr.gov.br/arquivos/File/2010/sugestao_leitura/sociologia/outra_globalizacao.pdf" target="_blank" rel="noopener noreferrer">Por uma outra globalização</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="msc-vid-pal">
    <div  class="sub-titulo">
        <h1>Músicas</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/Ee_uujKuJMI" title="Green Day - American Idiot [Official Music Video]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/HyHNuVaZJ-k" title="Gorillaz - Feel Good Inc. (Official Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/WQJHtpESHYA" title="System of a Down - Hypnotize Lyrics" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="sub-titulo">
        <h1>Vídeos</h1>
    </div>
    <div class="secao-unica">

    </div>
    <div  class="sub-titulo">
        <h1>Palestras</h1>
    </div>
    <div class="secao-unica">

    </div>
</div>
<div class="exp-exitosas">
    
</div>