<nav class="menu">
  <div class="nav-logo">
    <div class="logo">
      <img class="img" routerLink="/" src="./assets/img/youngPulse.png">
    </div>
    <div class="mobile-button">
      <button (click)="mobileMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
    </div>
    <div class ="menu-mobile" [ngStyle]="{'display': divAtiva? 'block' : 'none' }">

      <div class="nav-list-mobile">
        <div class="menu-botao-mobile">
          <button (click)="mobileMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
          </button>
        </div>
        <div class="conteiner-menu">
          <a class="nav-link-mobile" routerLink="/corrupcao" (click)="mobileMenu()">Corrupção</a>
        </div>
        <div class="conteiner-menu">  
          <a class="nav-link-mobile" routerLink="/sustentabilidade" (click)="mobileMenu()">Dimensões da Sustentabilidade</a>
        </div>   
        <div class="conteiner-menu">
          <a class="nav-link-mobile" routerLink="/estado-gov" (click)="mobileMenu()">Estado/Governo</a>
        </div>
        <div class="conteiner-menu">
          <a class="nav-link-mobile" routerLink="/globalizacao" (click)="mobileMenu()">Globalização</a>
        </div>
        <div class="conteiner-menu">
          <a class="nav-link-mobile" routerLink="/ordem-mundial" (click)="mobileMenu()">Nova Ordem Mundial</a>
        </div>
        <div class="conteiner-menu">  
          <a class="nav-link-mobile" routerLink="/pobreza" (click)="mobileMenu()">Pobreza</a>
        </div> 
        <div class="conteiner-menu">  
          <a class="nav-link-mobile" routerLink="/politicas-publicas" (click)="mobileMenu()">Políticas Públicas</a>
        </div> 
        <div class="conteiner-menu">
          <a class="nav-link-mobile" routerLinkActive="active" routerLink="/sobre" (click)="mobileMenu()">Quem Somos</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="nav-list">
    <ul>
      <li class="nav-item"><a class="nav-link" routerLink="/corrupcao" >Corrupção</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/sustentabilidade" >Dimensões da Sustentabilidade</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/estado-gov" >Estado/Governo</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/globalizacao" >Globalização</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/ordem-mundial" >Nova Ordem Mundial</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pobreza" >Pobreza</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/politicas-publicas" >Políticas Públicas</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/sobre">Quem Somos</a></li>
    </ul>
  </div>
  
</nav>

<div class="fixo" [@routeAnimations]="getRouteAnimationData()">
<router-outlet></router-outlet>
</div>
