<div class="conteudo">
    <div class="definicao">
        <div class="titulo">
            <h1>{{ titulo }}</h1>
        </div>
        <div class="paragrafo">
            <p>{{ paragrafo }}</p>
        </div>
    </div>
    <div class="retrato">

        

</div>

</div>
<div class="ong-bibliografia">
    <div class="assunto">
        <h1>Conheça respeitadas ONG'S</h1>
    </div>
    <div class="assunto">
        <h1>Bibliografia relacionada</h1>
    </div>
    <div class="conteudo-esquerda">
        <div class="secao-dividida">
            <h2>Nacionais</h2>
            <ul>
                <li><a href="https://www.acaodacidadania.org.br/" target="_blank" rel="noopener noreferrer">Ação da Cidadania</a></li>
                <li><a href="https://cufa.org.br/" target="_blank" rel="noopener noreferrer">CUFA</a></li>
            </ul>
        </div>
        <div class="secao-dividida">
            <h2>Internacionais</h2>
            <ul>
                <li><a href="https://www.oxfam.org.br/especiais/olhe-para-a-fome-2022/" target="_blank" rel="noopener noreferrer">OXFAM</a></li>
                <li><a href="https://www.care-international.org/" target="_blank" rel="noopener noreferrer">CARE</a></li>

            </ul>
        </div>
    </div>
    <div class="conteudo-direita">
        <div class="secao-dividida">
            <ul>
                <li><a href="https://www.scielo.br/j/raeel/a/LVPkw9yHZfJ9kvjC8VSgTsh/?format=pdf&lang=pt" target="_blank" rel="noopener noreferrer">A Pobreza como um fenômeno multidimensional</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="msc-vid-pal">
    <div  class="sub-titulo">
        <h1>Músicas</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/B6iuIssVqRA" title="Legião Urbana - O Teatro Dos Vampiros" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/TtfuRFBMFqM" title="11. Avareza - Xamã" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/F4pOm8hRUyo" title="Disparada" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="sub-titulo">
        <h1>Vídeos</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/a9kz2XmbEPY" title="Breve história da pobreza" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/Iw4h88BY3A4" title="A Pobreza e a desigualdade social - Sociologia - Ensino Médio" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/7wrNbcx_RRs" title="Pobreza no Brasil e no mundo - Brasil Escola" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div  class="sub-titulo">
        <h1>Palestras</h1>
    </div>
    <div class="secao-unica">
        <iframe src="https://www.youtube.com/embed/qS5O0ZI77cg" title="Erradicar a pobreza é mudar o mundo. | José Roberto | TEDxPajuçara" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
<div class="exp-exitosas">
    
</div>